body{
        background-color: darkmagenta;
        width: 50%;
        height: 100vh;
          display: flex;
        align-items: center;
        justify-content: center;
        
     }
     .container{
        left: 30%;
        width: 58%;
        height: 35vh;
        border: 10px,solid,rosybrown;
        background-image: url(images/1.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        transition: background 1s;
        border-radius: 20px;
     }
     .left{
        position: absolute;
        margin-top: 32%;
        left: -10px;
        background-color: white;
        width: 25px;
        height: 20px;
        padding: 2px;
        border-radius: 10px;
        transform:translateY(-50%);
        cursor: pointer;
     }
     .right{
        position: absolute;
        margin-top: 32%;
        right:-10px;
        background-color: white;
        width: 25px;
        height: 20px;
        padding: 2px;
        border-radius: 10px;
        transform:translateY(-50%);
        cursor: pointer;
     } 